.link {
	color: #000000;
}
a.link	{
	text-decoration: none;
	color: #006699;
}
a.link:hover {
	text-decoration: none;
	color: #dd6900;
}
.title  {
    font-weight: bold; line-height: 18px;
    color: #000000;
    vertical-align: middle; 
    text-align: center;
	padding: 2px 5px;
}
.heading {     
    font-weight: bold; 
    line-height: 20px; 
    color: #606060; 
    vertical-align: middle; 
    text-align: center; 
	text-transform: uppercase;
}
.head {
    background-color: #eee;
    color: #666;
    vertical-align: middle; 
	display: flex;
	text-transform: uppercase;
	padding: 10px 5px;
}
.event-head {
	width: 50%;
	text-align: left;
}
.border {
	border: 1px solid #ddd;
    background: #ffffff 
}
.status-free {
	color: #2A520B;
}
.status-rent  {
    color: red;
}
.status-free, .status-rent {
    font-weight: bold;
    vertical-align: middle; 
    text-align: left;
}
.date {
    color: #666;
	display: flex;
	margin: 2px 0;
	border: 1px solid #ccc;
}
.date-info {
	width:40%;
	text-align:left;
	padding:0 5px;	
}
.event-info {
	width: 50%;
	text-align:left;
}
.info-info {
	width: 10%;
}
.date-info, .event-info, .info-info, .event-head {
	display: inline-block;
}
.free {
	background:#2A520B;
}
.rent {
	background: #EEF5EB;
}
.today-free, .today-rent {
	background: #FCEAAB;
}
@media (max-width: 767px) {
	.info-head {
		display:none;
		visibility:hidden;
	}
}